<!DOCTYPE html>
<html>
<head>
  <title>Create a Campus</title>
</head>
<body>
  <form action="/campuses_post" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Save</button>
  </form>
</body>
</html>